<div class="card">
  <!-- Photo Grid -->
  <div *ngIf="paginatedData" class="grid" style="max-width: 800px; margin: auto;">
    <div *ngFor="let item of paginatedData; let index = index" class="col-3 bg-orange-100">
      <img [src]="item.urls" alt="image.alt" style="cursor: pointer; width: 100%; height: auto;"
        (click)="imageClick(index)" />

      <p-checkbox [(ngModel)]="item.isSelected" [binary]="true" [inputId]="'checkbox-' + index"
        [name]="'checkbox-' + index" (onChange)="unSelected(item.id)" class="checkbox-position">
      </p-checkbox>

    </div>
  </div>


  <!-- Galleria Component -->
  <p-galleria [value]="urlData" [visible]="displayCustom" [(activeIndex)]="activeIndex"
    [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '850px' }" [numVisible]="7"
    [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false"
    (onChange)="onImagesChange($event)" (onVisibleChange)="onVisibleChange($event)">
  </p-galleria>
</div>

<div class="card flex justify-content-center gap-3">
  <p-button label="Remove" severity="danger" (click)="remove()" />

  <p-toast></p-toast>

  <p-button label="Download" severity="success" [loading]="loading" (click)="download()" />
</div>


<div class="card flex justify-content-center">
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="urlData.length"
    [showFirstLastIcon]="false">
  </p-paginator>
</div>
<!-- [rowsPerPageOptions]="[10, 20, 30]" -->

<div class="card flex justify-content-start pl-6 pb-3">
  <p-button label="New Scrapping" icon="pi pi-arrow-left" (click)="goToUpload()" />
</div>
